<launch>
    <!-- Lane Detection -->
    <node pkg="gem_pacmod_control" type="lane_detection.py" name="lane_detection" output="screen"/>

    <!-- Object Avoidance -->
    <node pkg="gem_pacmod_control" type="object_avoidance.py" name="object_avoidance" output="screen"/>

    <!-- Summon Manager -->
    <node pkg="gem_pacmod_control" type="summon_manager.py" name="summon_manager" output="screen"/>

    <!-- Networking Node -->
    <node pkg="gem_pacmod_control" type="networking_node.py" name="networking_node" output="screen"/>

    <!-- Arrive Logic -->
    <node pkg="gem_pacmod_control" type="arrive.py" name="arrive" output="screen"/>

    <!-- Exit Parking Logic -->
    <node pkg="gem_pacmod_control" type="exit_parking.py" name="exit_parking" output="screen"/>

    <!-- Lane Follow PID -->
    <node pkg="gem_pacmod_control" type="lf_pid.py" name="lf_pid" output="screen"/>
</launch>
