<launch>
  <!-- Exit Parking Node -->
  <node pkg="summon" type="exit_parking.py" name="exit_parking" output="screen"/>

  <!-- Lane Detection Node -->
  <node pkg="summon" type="lane_detection.py" name="lane_detection_node" output="screen"/>

  <!-- Lane Following PID Controller -->
  <node pkg="summon" type="lf_pid.py" name="lane_follow_controller" output="screen"/>

  <!-- Networking Node (WebApp communication) -->
  <node pkg="summon" type="networking_node.py" name="networking" output="screen"/>

  <!-- Object Avoidance Node -->
  <node pkg="summon" type="object_avoidance.py" name="object_avoidance" output="screen"/>

  <!-- Summon Manager Node -->
  <node pkg="summon" type="summon_manager.py" name="summon_manager" output="screen"/>
</launch>